<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Hesap Oluştur</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required value="{{ request.GET.username|default:'' }}">
            <input type="text" name="first_name" placeholder="Ad" required>
            <input type="text" name="last_name" placeholder="Soyad" required>
            <input type="email" name="email" placeholder="E-posta" required value="{{ request.GET.email|default:'' }}">
            <input type="password" name="password1" placeholder="şifre" required>
            <input type="password" name="password2" placeholder="şifre onaylama" required>
            <input type="date" name="date_of_birth" placeholder="Doğum Tarihi">
            <select name="Cinsiyet">
                <option value="" disabled selected>Gender</option>
                <option value="Erkek">Male</option>
                <option value="Kadın">Female</option>
                <option value="Salak LGBT">Other</option>
            </select>
            <input type="tel" name="phone_number" placeholder="Telefon Numarası">
            <input type="text" name="location" placeholder="Konum">
            <textarea name="interests" placeholder="İlgi Alanı"></textarea>
            <input type="file" name="profile_picture">
            <button type="submit">Kayıt Ol</button>
            {% if form.errors %}
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors|join:", " }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
        <p style="text-align: center;">Zaten bir hesabınız varsa? <a href="{% url 'login' %}">Buradan Oturum açın</a>.</p>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
