{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap / Kayıt Ol</title>
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>
<body>
    <div class="container" id="container">
      
        <div class="form-container sign-up-container">
            <form id="register-form">
                <h1>Hesap Oluştur</h1>
                <input type="text" id="register-username" placeholder="Kullanıcı Adı" required />
                <input type="email" id="register-email" placeholder="E-posta" required />
                <input type="password" id="register-password" placeholder="Şifre" required />
                <button type="button" id="register-button">Kayıt Ol</button>
            </form>
        </div>
        
        <div class="form-container sign-in-container">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h1>Giriş Yap</h1>
                <input type="text" name="username" placeholder="Kullanıcı Adı" required />
                <input type="password" name="password" placeholder="Şifre" required />
                <button type="submit">Giriş Yap</button>
                
                <p style="margin-top: 10px;">
                    <a href="{% url 'password_reset' %}" style="color: #FF4B2B; text-decoration: none; font-weight: bold;">
                        Şifrenizi mi unuttunuz?
                    </a>
                </p>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Tekrar Hoş Geldin!</h1>
                    <p>Zaten bir hesabın varsa giriş yapabilirsin</p>
                    <button class="ghost" id="signIn">Giriş Yap</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Merhaba, Arkadaş!</h1>
                    <p>Bizimle birlikte maceraya başlamak için kayıt ol</p>
                    <button class="ghost" id="signUp">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('register-button').addEventListener('click', () => {
            const username = document.getElementById('register-username').value;
            const email = document.getElementById('register-email').value;
            const password = document.getElementById('register-password').value;

           
            const queryString = `?username=${encodeURIComponent(username)}&email=${encodeURIComponent(email)}&password=${encodeURIComponent(password)}`;
            window.location.href = `/user/register/${queryString}`;
        });
    </script>
    <script src="{% static 'js/login_register.js' %}"></script>
</body>
</html>
