{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcıları Yönet</title>
    <link rel="stylesheet" href="{% static 'css/manage_users.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Kullanıcıları Yönet</h1>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>E-posta</th>
                    <th>Katıldığı Etkinlikler</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                {% for data in user_event_data %}
                <tr>
                    <td>{{ data.user.username }}</td>
                    <td>{{ data.user.email }}</td>
                    <td>
                        {% if data.events %}
                            <div class="event-badges">
                                {% for event in data.events %}
                                <span class="event-badge">{{ event.name }} ({{ event.date }})</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span class="no-events">Katıldığı etkinlik yok.</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="action-buttons">
                            <a href="{% url 'delete_user' data.user.id %}" class="delete-btn">Sil</a>
                            <a href="{% url 'admin_update_user' data.user.id %}" class="edit-btn">Düzenle</a>
                            {% if not data.user.is_superuser %}
                            <a href="{% url 'toggle_admin' data.user.id %}" class="admin-btn">Admin Yap</a>
                            {% else %}
                                <a href="{% url 'toggle_admin' data.user.id %}" class="admin-btn remove-admin">Admini Kaldır</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
