<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Management Platform{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}"> <!-- Include your custom CSS -->
</head>
<body>
    <header>
        <h1>Welcome to Event Management Platform</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Event Management Platform</p>
    </footer>
</body>
</html>
