{% extends "base.html" %}
{% load static %}

{% block title %}Event Map{% endblock %}

{% block content %}
<div class="loading-spinner" style="display:none;"></div>

<h1 class="page-title">Rota Planlama ile Etkinlik Haritası</h1>

<form id="routeForm" class="form">
    <label for="mode">Taşıma Modu:</label>
    <select id="mode" class="dropdown">
        <option value="DRIVING">Sürme</option>
        <option value="WALKING">Yürüyüş</option>
        <option value="BICYCLING">Bisiklet</option>
    </select>
    <button type="button" id="findRoute" class="find-route-button">Rota bul</button>
</form>

<div id="map" style="height: 500px; width: 100%;"></div>


<script id="events-data" type="application/json">{{ events|safe }}</script>


<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
